# **9ª Competição de ML FLAI - Guia de Submissão**

In [ ]:
#importação dos dados 
import pandas as pd

treino = pd.read_csv('/content/treino.csv')
teste = pd.read_csv('/content/teste.csv')

In [ ]:
treino.head()

,hora,dia,feriado,estação,temperatura,chuva,umidade,sol,visibilidade,vento,aluguéis
0,16,sábado,não,verão,39.4,0.0,61.1,2.19,92.0%,3.49,1318
1,21,sexta,não,primavera,22.2,0.0,63.3,0.00,32.0%,2.89,686
2,16,segunda,não,verão,40.5,0.0,52.8,2.51,93.0%,3.97,831
3,7,segunda,sim,outono,25.6,0.0,70.9,0.00,97.0%,1.09,15
4,9,segunda,não,verão,39.9,0.0,58.1,1.69,62.0%,1.09,865

In [ ]:
treino.shape

(15000, 11)

In [ ]:
teste.head()

,hora,dia,feriado,estação,temperatura,chuva,umidade,sol,visibilidade,vento
0,21,quinta,não,verão,33.3,0.12,72.4,0.0,88.0%,2.05
1,0,segunda,não,outono,25.0,0.00,73.1,0.0,34.0%,0.85
2,4,segunda,não,outono,22.1,0.00,67.9,0.0,97.0%,1.09
3,6,terça,não,verão,36.5,0.00,80.7,0.0,53.0%,1.93
4,21,quinta,não,verão,34.2,0.00,65.6,0.0,71.0%,2.05

In [ ]:
teste.shape

(3000, 10)

---

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X = treino[['temperatura']]
y = treino['aluguéis']

In [ ]:
modelo = LinearRegression()
modelo.fit(X,y)

LinearRegression()

In [ ]:
pred = modelo.predict(teste[['temperatura']])

In [ ]:
pred

array([2053.17942628, 2465.89875603, 6912.13495648, ..., 2689.90760277,
       1944.56907635, 3171.86603061])

In [ ]:
subm = pd.DataFrame()
subm['aluguéis'] = pred

In [ ]:
subm

         aluguéis
0      994.483068
1      636.144960
2      510.942489
3     1132.637519
4     1033.339007
...           ...
2995   355.518732
2996   225.998934
2997   506.625162
2998  1136.954846
2999   890.867230

[3000 rows x 1 columns]

In [ ]:
subm.to_csv('submissão.csv', index = False)

---